body {
  background-color: #c6d7de;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3em;
}

#v0 {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

#set-height {
  display: block;
}

section {
  z-index: 1;
  position: relative;
}

.content {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  top: 33.3%;
}

h1 {
  font-size: 3em;
  background: #fff;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0;
}

p {
  font-size: 1.5em;
}
